* {

    margin: 0;

    padding: 0;

}

body {

    background-image: url("https://i.pinimg.com/originals/b7/c2/ac/b7c2ac38b5c9601d7dc2a3de1b4e74d7.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;

}


.navbar {

    background-color: #184287;

}

.navbar-collapse{

    display: flex;
    justify-content: center;
    margin-right: 80px;

}
.nav-link {

    font-size: 20px;
    color: #FFA500;

}

.nav-link:hover{

    color: #F48522;

}



.card {

 
    display: grid;
    grid-template-columns: 1fr;

    justify-items: center;
    align-content: center;

    margin: 30px;

    background-color: #BCEEFC;
    color: #F48522;

}

.card-img-top {

    height: 450px;
    object-fit: contain;
    padding-top: 5px;

}


.contenedor-button-pages {

    position: fixed;
    bottom: 20px;
    left: 0px;
    right: 23px;
    display: flex;  
    justify-content: center;
    align-items: center;

}

.button-pages {

    width: 80px;
    height: 40px;
    background-color: #184287;
    z-index: 999;
    margin: 0 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    box-shadow: 2px 2px 12px #F48522,-2px -2px 12px #F48522;
    border: none;

}

.button-pages:hover {

    background-color: #0E2E62;

}


.nube-voladora{

    position: absolute;
    top: 80px;
    background-color: #DEDA59;
    right: 50px;
    width: 20px;
    height: 20px;

    border-radius: 50%;


}

.nube-voladora2{

    position: absolute;
    top: 75px;
    background-color: #DEDA59;
    right: 42px;
    width: 20px;
    height: 20px;

    border-radius: 50%;


}

.nube-voladora3{

    position: absolute;
    top: 80px;
    background-color: #DEDA59;
    right: 34px;
    width: 20px;
    height: 20px;

    border-radius: 50%;


}

.nube-voladora4{

    position: absolute;
    top: 75px;
    background-color: #DEDA59;
    right: 26px;
    width: 20px;
    height: 20px;

    border-radius: 50%;


}

.nube-voladora5{

    position: absolute;
    top: 80px;
    background-color: #CFCB4B;
    right: 18px;
    width: 20px;
    height: 20px;

    border-radius: 50%;


}

.nube-voladora6{

    position: absolute;
    top: 85px;
    background-color: #CFCB4B;
    right: 42px;
    width: 20px;
    height: 20px;

    border-radius: 50%;


}

.nube-voladora7{

    position: absolute;
    top: 85px;
    background-color: #DEDA59;
    right: 26px;
    width: 20px;
    height: 20px;

    border-radius: 50%;


}

.contenedor-nube {

    position: fixed;
    top: 0px;
    right: -5px;
 

}

.page-nube {

    position: fixed;
    top: 75px;
    right: 35px;
    font-size: 20px;
    font-weight: bold;
    z-index: 1000;
    color: #F48522;

}

.modal-card {

    background-color: #BCEEFC;
    color: #F48522;
}


.modal-tam-imagen {

    height: 650px;
}


.modal-header {

    justify-content: center;
    border: none;
    margin-bottom: -20px;

}

.modal-footer {

    justify-content: center;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;


}